<ion-content>
  <div id="book">
    <div class="header">
      <img src="../../assets/logo.svg" class="img-fluid" alt="speed logo" />
      <div class="heading">rent your self drive car</div>
    </div>
    <div class="body">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-12 mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Search City</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-6">
              <div class="trip">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Start Trip"
                />
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="trip">
                <input
                  type="text"
                  class="form-control"
                  placeholder="End Trip"
                />
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="submit_btn" routerLink="/details">
                Submit
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <div class="line">
              <div class="offer">Offers & Promotions</div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <img src="../../assets/skyblue-card.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
