<ion-content>
  <div id="services">
    <div class="service" routerLink="/home">
      <img src="../../assets/logo.svg" class="img-fluid" alt="logo">
      <div class="heading">Rent a Self-Drive Car</div>
      <div class="subheading">Hourly, Daily and Monthly Rental</div>
    </div>
    <div class="service">
      <img src="../../assets/logo.svg" class="img-fluid" alt="logo">
      <div class="heading">Subscribe to a Car</div>
      <div class="subheading">Tenure of 6 to 60 months</div>
    </div>
  </div>
</ion-content>