#home {
  background-image: url(../../assets/flash-bg.svg);
  background-size: cover;
  .film {
    background-image: linear-gradient(#1b4e3bc7 70%, #1b4e3b);
    min-height: 100vh;
    // Header
    .header {
      color: #fff;
      padding: 40px 0 8px 0;
      .back-icon {
        font-size: 20px;
        cursor: pointer;
      }
      .page-title {
        font-family: "Roboto-Bold", "sans-serif";
        text-align: center;
        font-size: 20px;
      }
    }
    // Sub Header
    .sub-header {
      border-bottom: 2px solid #1b4e3b;
      background-color: #fff;
      padding: 3px 0;
      .option {
        font-family: "Roboto-Medium", "sans-serif";
        text-align: center;
        font-size: 14px;
        padding: 8px 0;
        cursor: pointer;
      }
      .active {
        font-family: "Roboto-Bold", "sans-serif";
        background-color: #eaab2a;
        border-radius: 6px;
      }
    }
    // Content
    .content {
      height: 80vh;
      overflow-y: scroll;
      padding: 20px 2vw;
      .availability {
        color: #fff;
        font-size: 12px;
      }
      .card_wrapper {
        background-color: #fff;
        padding: 12px 8px 6px;
        border-radius: 10px;
        margin: 12px 0 0 0;
        .car-details {
          display: flex;
          align-items: center;
          flex-direction: column;
          .name {
            font-family: "Roboto-Bold", "sans-serif";
            font-size: 13px;
            height: 20px;
            margin: 0 0 10px 0;
            overflow-y: hidden;
          }
          .detail {
            font-size: 12px;
            height: 30px;
            margin: 0 0 10px 0;
            overflow-y: hidden;
          }
          .form-select {
            font-family: "Roboto-Medium", "sans-serif";
            box-shadow: none;
            border-color: #1b4e3b;
            font-size: 12px;
            padding: 0 8px;
            option {
              font-size: 12px;
            }
          }
        }
        .card_footer {
          margin: 12px 0 0 0;
          .price {
            font-family: "Roboto-Bold", "sans-serif";
            font-size: 12px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 6px;
            padding: 3px 0 2px;
            line-height: 13px;
            cursor: pointer;
            span {
              font-family: "Roboto-Regular", "sans-serif";
              font-size: 10px;
            }
          }
          .active {
            color: #1b4e3b;
          }
          .book_now {
            font-family: "Roboto-Bold", "sans-serif";
            font-size: 14px;
            background-color: #eaab2a;
            color: #000;
            border-radius: 6px;
            text-align: center;
            padding: 6px 0;
            cursor: pointer;
          }
          .additional {
            font-size: 10px;
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  #home {
    .film {
      // Header
      .header {
        .back-icon {
          font-size: 18px;
        }
        .page-title {
          font-size: 18px;
        }
      }
      // Sub Header
      .sub-header {
        .option {
          font-size: 12px;
        }
      }
      // Content
      .content {
        height: 80vh;
        padding: 10px 1vw;
        .availability {
          font-size: 12px;
        }
        .card_wrapper {
          padding: 10px 8px 5px;
          margin: 10px 0 0 0;
          .car-details {
            .name {
              margin: 0 0 8px 0;
            }
            .detail {
              margin: 0 0 8px 0;
              overflow-y: hidden;
            }
          }
          .card_footer {
            margin: 10px 0 0 0;
            .price {
              span {
                font-size: 9px;
              }
            }
            .book_now {
              font-size: 12px;
              padding: 7px 0;
            }
            .additional {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}
