<ion-content>
  <div id="details">
    <!-- NavBar -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="back-icon" routerLink="/book">
              <i class="fas fa-chevron-left"></i>
            </div>
          </div>
          <div class="col-8">
            <div class="page-title">Ride Details</div>
          </div>
          <div class="col-2">
            <div class="share-icon">
              <i class="fas fa-share-alt"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="body">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center my-1">
            <img
              src="../../assets/Rectangle 66024 car.svg"
              class="img-fluid"
              alt="car logo"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-10 px-0">
            <div class="heading">Hundai Creta | 5 Seater</div>
            <span class="sub-text">(S plus)</span>
          </div>
          <div class="col-2 px-0">
            <div class="phone">
              <i class="fas fa-phone-alt"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 travel-desc">
            <div class="head">
              <span>August 14, 2021</span>
              <span>August 18, 2021</span>
            </div>
            <div class="body">
              <span>10:00 AM</span>
              <span>10:00 PM</span>
            </div>
          </div>
          <div class="col-12 pick-up">
            <i class="fas fa-map-marker-alt"></i>
            Pickup Location: <span>Airport Terminal-1</span>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6 sect-left">
            <div class="text">Free Kms:<span>Unlimited kms</span></div>
            <div class="text">Fuel:<span>Full tank to full tank</span></div>
          </div>
          <div class="col-6 sect-right">
            <div class="text"><span>No additional km charges</span></div>
          </div>
        </div>
        <div class="row shade">
          <div class="col-8 px-0">
            <div class="security-heading">Refundable Security</div>
            <div class="security-subheading">To be paid after booking car</div>
          </div>
          <div class="col-4 security-deposit">Rs.5000.00</div>
        </div>
        <div class="row">
          <div class="col-12 condtion">
            <input class="form-check-input" type="checkbox" />I Accept Terms and
            Condition.
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="book-now">Book & Pay</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
